/* your styles go here */


/* 
.portImg {
    width: 350px;
    height: 466.66px;
} */

.portImgRound {
    border-radius: 50%;
}

.KimsFont {
    font-family: 'Shadows Into Light', cursive;
    /* margin-right: 40%; */
    /* float: left;
    margin-right: 100%; */
    margin-top: 25%;
}

.largeText {
    font-size: 30px;
}

.heading {
    font-size: 46px;
}